*{
    box-sizing: border-box;
    font-size: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.header1{    
    text-align: end;
    font-size: 15px;
    color: white;
    background-color: rgb(70, 70, 175);
    width:100%;    
    height: 25px;
}

.header2{    
    text-align: center;
    align-content: center;
    overflow: hidden; /* 글자등이 화면을 벗어나면 숨기기*/
    color: white;    
    font-size:30px ;
    background-color: rgb(25, 31, 104);
    width:100%;
    height: 60px;
    font-weight: bold;
}

section{
    display: flex;    
    color: black;
    background-color:lavenderblush;
    width: 100%;
    height: 600px;
}

nav{
    background-image: url('HannaHello.PNG');
    background-size: 25%;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;    
    font-size: 12px;
    color: black;
    background-color:white;
    width:15%;    
    height: 600px;    
}

container{
    align-items: center;
    vertical-align: middle;
    font-size: 15px;
    color: black;
    background-color: rgb(255, 255, 255);
    width:70%;    
    height: 600px;
}

.article1{
    text-align: center;
    font-size: 15px;
    color: black;    
    height: 5%;    
}

.article2{
    text-align: center;
    font-size: 15px;
    color: black;
    height: 80%;
}

.article3{
    text-align: center;
    font-size: 15px;
    color: black;    
    height: 5%;
}

.article4{
    text-align: center;
    font-size: 15px;
    color: black;
    height: 10%;
}

aside{
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: black;
    background-color: white;
    width:15%;    
    height: 600px;
}

.count{
    font-size:x-small;
}

footer{
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color:rgb(255, 255, 255);
    width:100%;    
    height: 25px;
}

.credit-text{
    background-color: #2b6cb0; /* blue background for text only */
    padding: 2px 6px; /* small padding so the colored area hugs the text */
    color: white; /* ensure text is readable */
    border-radius: 3px;
}

.realbutton{
    cursor: pointer;
    width: 100px;
    height: 40px;
    /*border-radius: 3px;*/
}

.justbutton{
    cursor: pointer;
    width: 100px;
    height: 30px;
    /*border-radius: 3px;*/
    font-size:x-small;
}

.questionimage imge {
    -webkit-tranform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-tranform:scale(1);
    transform: scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition: .3s;
    overflow: hidden;
    cursor: pointer;
  }

  .questionimage:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    overflow: hidden;
  }

  .qbutton{
    font-size:xx-large;
    width: 220px;
    height: 80px;
    cursor: pointer;
  }
  